@import '../mixins/flexbox';
@import '../variables';

.view-not-found {
    @include flexbox-center-content;

    text-align: center;

    h1 {
        font-size: 100px;
    }

    h2 {
        color: $sub-text-colour;
        font-size: 20px;
    }
}
