@import '../variables';

.component-account-summary {
    padding: 0 10px;

    .balance-unit {
        width: 100%;
        text-align: right;
        padding: 10px;
        margin-bottom: 10px;
        background-color: lighten($bgcolour, 10%);
        border-radius: 3px;

        .balance {
            .currency {
                font-size: 15px;
                margin-right: 3px;
            }

            .amount {
                font-size: 30px
            }
        }

        .description {
            font-size: 10px;
            text-transform: uppercase;
            color: $sub-text-colour;
        }
    }

}
