$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import 'main';

$bgcolour: #ccc;

body {
    background-color: $bgcolour;
}
