$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'variables';

@import 'views/loading';
@import 'views/not-found';

@import 'components/spinner';


body {
    background-color: $bgcolour;
    color: white;
}
