$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'variables';

@import 'views/account';
@import 'views/loading';
@import 'views/not-found';
@import 'views/login';

@import 'components/account-summary';
@import 'components/spinner';
@import 'components/transactions-list';
@import 'components/transaction';
@import 'components/error';


body {
    background-color: $bgcolour;
    color: white;
}
